body, ul, li{
  margin:0;
  list-style:none;
  padding:0;
}
a{
  text-decoration:none;
  color:inherit;
}

.wrap {
    background : #1E3269;
}

.logo {
    background : #1E3269;
    border-bottom : 2px solid white;
    color : white;
    font-size: medium;
    font-weight: bold;
    padding : 15px;
}

.content-wrap {
    display : flex;
}

.side-menu {
    background : #1E3269;
    text-align : center;
    color : white;
    width : 10%;
    height : 1000px;
}

.content {
    background : white;
    width : 90%;
    height : 1000px;
}
